$gray: #eee;
$gray-light: #f7f7f7;
$gray-dark: #c9c9c9;
$gray-txt: #565555;
$black: #000;
$black-md: #333;
$red: #df1f26;
$white: #fff;
$open-sans: 'Open Sans', Arial, Helvetica, sans-serif;
$side-gray:#efefef